<ol class="steps-list">
    <li class="steps-list__item">
        <div class="steps-list__number">1</div>
        <div class="steps-list__content">
            <h3 class="steps-list__title">Подберем зарядную станцию</h3>
            <p class="steps-list__desc">Для домашнего и коммерческого использования</p>
        </div>
    </li>
    <li class="steps-list__item">
        <div class="steps-list__number">2</div>
        <div class="steps-list__content">
            <h3 class="steps-list__title">Бизнес на ЭЗС под ключ</h3>
            <p class="steps-list__desc">Подберем локацию, ЭЗС, согласуем, смонтируеми подключим к оператору</p>
        </div>
    </li>
    <li class="steps-list__item">
        <div class="steps-list__number">3</div>
        <div class="steps-list__content">
            <h3 class="steps-list__title">Безопасность</h3>
            <p class="steps-list__desc">Работаем официально</p>
        </div>
    </li>
</ol>