<section class="cta">
    <div class="container">
        <div class="cta__content">
            <h2 class="cta__title">Установим зарядную станцию <br> и ответим на ваши вопросы</h2>
            <p class="cta__text">
                Charger One — это надежный партнер для всех владельцев электромобилей,
                <br>
                которым нужна медленная зарядная станция для дома и бизнеса.
                <br>
                Выбирайте качественные и доступные решения
                <br>
                для своих электромобилей с Charger one!
            </p>
            <button class="black-btn cta__button js-open-modal">Оставить заявку</button>
        </div>
    </div>
</section>
@@include('../components/_form-selection.html')