<article class="product-card">
    <a href="single-product.html" class="product-card__image-link">
        <div class="product-card__image-wrap">
            <div class="product-card__badges-top">
                <span class="product-card__badge product-card__badge--dark">DC</span>
                <span class="product-card__badge product-card__badge--light">0 кВт</span>
            </div>

            <div class="product-card__badges-bottom">
                <span class="product-card__badge product-card__badge--outline">МОНЕТИЗАЦИЯ</span>
            </div>
            
            </div>
    </a>

    <div class="product-card__info">
        <h3 class="product-card__title">
            <a href="single-product.html">Зарядная станция Name</a>
        </h3>
        
        <p class="product-card__excerpt">цитата</p>

        <div class="product-card__price-box">
            <span class="product-card__price-current">275 000 ₽</span>
            <span class="product-card__price-old">179 000 ₽</span>
        </div>

        <a href="single-product.html" class="product-card__btn btn">ПОДРОБНЕЕ</a>
    </div>
</article>