<article class="questions__answer">
    <div class="questions__answer-inner">
        <h5 class="questions__answer-title">
            Какие зарядные станции бывают?
        </h5>
        <div class="questions__answer-collapse">
            <p class="questions__answer-text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит послушавшись
                языком рыбными то!
            </p>
        </div>
    </div>
    <div class="questions__answer-checkbox-wrapper">
        <input type="checkbox" class="questions__answer-checkbox">
    </div>

</article>