<section class="reasons">
    <div class="container">
        <h2 class="reasons__main-title">Почему стоит выбрать Charger One?</h2>

        <div class="reasons__grid">

            <div class="reasons__item">
                <div class="reasons__icon"></div>
                <h3 class="reasons__title">Бесплатная пусконаладка<br>— настройка<br>и запуск за 0₽</h3>
                <p class="reasons__text">Широкий ассортимент зарядных станций.</p>
                <p class="reasons__text"><strong>Мы предлагаем медленные (AC) и быстрые (DC)</strong> зарядные станции
                    для электромобилей всех популярных марок, подходящие для частного и коммерческого использования.</p>
                <p class="reasons__text">В каталоге — надежные устройства с мощностью от 3,5 до 360 кВт.</p>
            </div>

            <div class="reasons__item">
                <div class="reasons__icon"></div>
                <h3 class="reasons__title">Оперативный <br> замер и монтаж<br>— прибудем на объект <br> в течение часа
                </h3>
                <p class="reasons__text">Гарантированное качество и надежность.</p>
                <p class="reasons__text"><strong>Каждая станция проходит тестирование и сертификацию,</strong> а также
                    обеспечивается гарантией 1 год.</p>
                <p class="reasons__text">При поломке — подменная станция в течение часа и оперативный ремонт.</p>
            </div>

            <div class="reasons__item">
                <div class="reasons__icon"></div>
                <h3 class="reasons__title">
                    Проектная <br>
                    документация <br>
                    за 2-5 дней <br>
                    без лишних согласований
                </h3>
                <p class="reasons__text">Профессиональный монтаж «под ключ». </p>
                <p class="reasons__text">
                    Мы не просто продаем станции – <strong> мы устанавливаем
                        их под ключ.
                    </strong>
                </p>
            </div>

            <div class="reasons__item">
                <div class="reasons__icon"></div>
                <h3 class="reasons__title">
                    Монтаж инженерами <br>
                    с сертификацией
                    – работаем с ORBIS
                    и обучаемся
                    у топ-брендов
                </h3>
                <p class="reasons__text">
                    Бизнес на зарядных станциях
                    с монетизацией.
                </p>
                <p class="reasons__text"><strong>Хотите зарабатывать на зарядке электромобилей?</strong></p>
                <p class="reasons__text">
                    Установим доходную станцию под ключ – от подбора оборудования до настройки
                    платежных систем.
                </p>
            </div>

        </div>
    </div>
</section>