<article class="review-card">
    <div class="review-card__header">
        <span class="review-card__date">18 Feb, 26</span>
        <div class="review-card__user">
            <div class="review-card__avatar">
                <img src="" alt="Аватар">
            </div>
            <h4 class="review-card__name">Икрем Б.</h4>
        </div>
    </div>

    <div class="review-card__body">
        <p class="review-card__text">
            Порекомендовали друзьям, у которых тоже электромобиль. Мы то свой как месяц только купили, конечно возникла
            необходимость в покупке наёмной станции электро зарядки. Хорошее качество зарядки. Нам всё объяснили,
            показали, отличная работа с клиентами. Доволен выбором и покупкой соответственно. Теперь упакованы на все
            сто, всем большое спасибо за внимательную работу с покупателями. Магазин смело рекомендую.
        </p>
    </div>

    <div class="review-card__footer">
        <a href="#" target="_blank" class="review-card__link">
            <strong>Отзыв в 2gis</strong>
            <span class="review-card__icon-wrapper">
                <span class="review-card__icon-fake"></span>
            </span>
        </a>
    </div>
</article>