<article class="work-card">
    <div class="work-card__image">
    </div>

    <div class="work-card__info">
        <h3 class="work-card__title">Установка станции Name</h3>

        <div class="work-card__meta">
            <span class="work-card__icon work-card__icon--circle"></span>
            <span class="work-card__text">Московская область</span>
        </div>

        <div class="work-card__meta">
            <span class="work-card__icon work-card__icon--square"></span>
            <span class="work-card__text">Зарядная станция<br>название</span>
        </div>
    </div>

    <a href="#" class="work-card__btn">Подробнее</a>
</article>