.steps-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -50px;
      // Изменили отступ, так как кружок стал 51px. Половина — 25.5px
      left: 25.5px;
      width: 1px;
      background-color: #1d242d; // Сделал линию потемнее, чтобы гармонировала с кружками (можешь вернуть #8c8c8c, если по макету так)
      z-index: 1;
    }

    &:last-child::before {
      display: none;
    }
  }

  &__number {
    flex-shrink: 0;
    // Берем точные размеры из макета Figma
    width: 51px;
    height: 51px;
    border-radius: 50%;

    // Переводим SVG fill в CSS background
    background: linear-gradient(180deg, #1d242d 0%, #53924b 100%);

    // Переводим SVG stroke в CSS border.
    // Примечание: в твоем коде альфа-канал равен 0, то есть она прозрачная.
    // Оставляю на случай, если при ховере или активе она должна появляться.
    border: 1.5px solid rgba(255, 255, 255, 0);

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;

    position: relative;
    z-index: 2;
  }

  &__content {
    padding-top: 10px; // Возможно, придется чуть увеличить, например до 12px, чтобы текст выровнялся по центру увеличившегося кружка
  }

  &__title {
    margin: 0 0 8px;
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 0.96 !important;
    color: $text-color !important;
  }

  &__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #195712;
    margin: 0;
  }
}
