.hero-slider {
  width: 100%;
  position: relative;
  background: $background-main-slider;

  // Блокируем дефолтные иконки через переменные самого Swiper
  --swiper-navigation-size: 0px;
  --swiper-theme-color: transparent;

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10; 
    margin-top: 0; 
    color: transparent;

    svg {
      width: 12px; 
      height: 17px;
    }
  }

  .swiper-button-prev {
    left: 20px;
    border: 2px solid $white;
    &::after {
      content: "" !important;
      display: none !important;
      font-size: 0 !important;
    }
  }

  .swiper-button-next {
    right: 20px;
    border: 2px solid $black;
  }
}

.hero-slide {

  &__inner {
    // Вся магия флексов переехала сюда, в класс, который висит на .container
    @include flex(space-between, center);
    gap: 20px;
    padding: 60px 0; // Горизонтальные паддинги убрали, их сделает .container
  }

  &__content {
    max-width: 50%;
    @include flex(start, start, column);
    gap: 20px;

    & h1 {
      font-weight: 500;
      font-size: 47px;
      line-height: 1.2;
      color: $text-color;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    li {
      position: relative; // Важно: для позиционирования иконки
      padding-left: 32px; // Отступ текста, чтобы освободить место под иконку
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 1.4;
      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
      color: #195712;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px; // Подровняй по высоте первой строки текста
        width: 20px;
        height: 20px;
        background-image: url("../images/icons/icon-li.svg");
        z-index: 100;

        // // Вариант Б: временная иконка (галочка) через код (Data URI)
        // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6666 5L7.49992 14.1667L3.33325 10' stroke='%230055FF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }
}

.btn--primary {
  border-radius: 50px;
  width: 262px;
  height: 51px;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(24, 24, 24, 0.9) 41.83%,
    rgba(64, 64, 64, 0.8) 100%
  );
  color: $white;
}

.btn--secondary {
  border-radius: 50px;
  width: 262px;
  height: 51px;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #d1f9cc 67.79%,
    rgba(209, 249, 204, 0.4) 100%
  );
  font-family: $font-first;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
}
